<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projects</title>
</head>

<body>

    <h1 style="text-align: center;">Add Projects</h1>
    <form th:action="@{/saveProject}" th:object="${project}" method="post">
        <!-- Hidden field for project ID (in case of edit) -->
        <input type="hidden" th:field="*{id}" />
        
        <table border="1" style="margin: 0 auto;">
            <tr>
                <td>Project Name :</td>
                <td><input th:field="*{name}" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save Project" />
                    <a th:href="@{/getProjects}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>
